<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
	<title><%= project_name%></title>
	<script>
		$('.grid').masonry({
			itemSelector: '.grid-item',
			columnWidth: 200
		});
	</script>
</head>

<body>
	<header>
		<%- include('../partials/header'); %>
	</header>

	<main class="container-fluid">
		<h1><%= project_name%></h1>
		<span>Attributions: <%= attributions%></span><br>
		<a class="link-info"
			href="https://www.thingiverse.com/thing:<%= project_source%>">https://www.thingiverse.com/thing:<%=project_source%>
		</a>

		<div class="container-fluid">
			<h2>Files</h2>
			<table class="table">
				<thead>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Download</th>
				</thead>
				<tbody>
					<% files.forEach(file=> { %>
						<tr>
							<td><%=file.name%></td>
							<td><%=file.description%></td>
							<td><a href="/file/<%=file.file%>" class="btn btn-primary">Download</a><br></td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</div>

		<div class="container-fluid">
			<h2>Prints</h2>
			<div class="grid" data-masonry='{"percentPosition": true }'>
				<% prints.forEach(print => { %>
					<%- include('../partials/print_card', {print:print}); %>
				<% })%>
			</div>
		</div>
	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>